<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>242647299263-tunqhc45k0gjkb10a56lhaeo00lj077i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.242647299263-tunqhc45k0gjkb10a56lhaeo00lj077i</string>
	<key>API_KEY</key>
	<string>AIzaSyBzRocGW4UhrBL1K6d9pNcFCE7uqNJ22Cc</string>
	<key>GCM_SENDER_ID</key>
	<string>242647299263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jj.express.ca</string>
	<key>PROJECT_ID</key>
	<string>jj-express-d2664</string>
	<key>STORAGE_BUCKET</key>
	<string>jj-express-d2664.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242647299263:ios:0a52612e50c2eb42e6c20a</string>
</dict>
</plist>