.otp{
	font-size:1rem;
}

ion-item {
  --padding-end: 0px;
  --inner-padding-end: 0px;
  // here other custom CSS from documentation
}

.logo{
	margin:25px 25px 25px 25px;
	width: 75%;
	max-width: 400px;
}