<ion-header class="ion-no-border" *ngIf="view=='signup'">
  <ion-toolbar>
    <ion-buttons>
      <ion-button color="primary">
        <ion-back-button text="" icon="arrow-back"></ion-back-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center ion-no-padding" *ngIf="!load && view=='signup'">
    <img src="assets/logo.png" class="logo" />
    <br /><br />
    <ion-label class="title-20">Create Account</ion-label>
  </div>
  <form
    [formGroup]="form"
    class="ion-padding-bottom ion-padding-top"
    *ngIf="!load && view=='signup'"
  >
    <ion-list>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.name">
        <ng-container
          *ngIf="name.hasError(error.type) && (name.dirty || name.touched)"
        >
          <small class="error-message">
            <ion-icon name="alert-circle-outline"></ion-icon>
            <span>{{error.message}}</span>
          </small>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input
          type="email"
          formControlName="email"
          (ionBlur)="checkUnique('email')"
        ></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.email">
        <ng-container
          *ngIf="email.hasError(error.type) && (email.dirty || email.touched)"
        >
          <small class="error-message">
            <ion-icon name="alert-circle-outline"></ion-icon>
            <span>{{error.message}}</span>
          </small>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Phone Number</ion-label>
        <ion-input
          type="text"
          formControlName="mobile"
          maxlength="8"
          (ionBlur)="checkUnique('phone')"
        ></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.mobile">
        <ng-container
          *ngIf="mobile.hasError(error.type) && (mobile.dirty || mobile.touched)"
        >
          <small class="error-message">
            <ion-icon name="alert-circle-outline"></ion-icon>
            <span>{{error.message}}</span>
          </small>
        </ng-container>
      </div>
      
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.password">
        <ng-container
          *ngIf="password.hasError(error.type) && (password.dirty || password.touched)"
        >
          <small class="error-message">
            <ion-icon name="alert-circle-outline"></ion-icon>
            <span>{{error.message}}</span>
          </small>
        </ng-container>
      </div>
      <ion-item lines="none" class="mt-20">
        <ion-checkbox color="primary" formControlName="term" checked="false"></ion-checkbox>
        <ion-label style="margin-left: 10px">I Accept The <a (click)="agreement()" style="color: blue">Terms & Conditions</a></ion-label>
      </ion-item>
      <div *ngFor="let error of errorMessages.term">
        <ng-container
          *ngIf="term.hasError(error.type) && (term.dirty || term.touched)"
        >
          <small class="error-message">
            <ion-icon name="alert-circle-outline"></ion-icon>
            <span>{{error.message}}</span>
          </small>
        </ng-container>
      </div>
    </ion-list>
  </form>
  <div class="ion-text-center" *ngIf="!load && view=='signup'">
    <ion-button
      *ngIf="!load"
      color="gold"
      expand="block"
      (click)="otp()"
      [disabled]="!form.valid"
      >Submit</ion-button
    >
    <br />
    <ion-label color="gold" routerLink="/login" routerDirection="back"
      >Back to login</ion-label
    >
  </div>
  <div id="container" *ngIf="load || view=='otp'">
    <ion-card *ngIf="!load && view=='otp'">
      <ion-card-content>
        <ion-row>
          <ion-col size="12">
            <p class="p-14 ion-text-center">
              Please enter one time verification code sent to {{mobile.value}}
            </p>
          </ion-col>
        </ion-row>
        <ion-row>
			<ion-col size="12">
				<ion-item class="ion-no-padding">
					<ion-input type="tel" (ionChange)="otp_verify()" [(ngModel)]="otpfullvalue" #otpfull maxLength="6" (keypress)="numberOnlyValidation($event)" class="otp ion-text-center"></ion-input>
				</ion-item>
			</ion-col>
		</ion-row>
        <ion-row>
          <ion-col size="12">
            <p
              class="p-14 error-message ion-text-center"
              *ngIf="otpVerifyFail"
              style="margin-bottom: 15px"
            >
              <ion-icon name="alert-circle-outline"></ion-icon>
              <span
                >The OTP you've entered is incorrect. Please try again.</span
              >
            </p>
            <p class="p-14 ion-text-center">
              Didn't get OTP?
              <span
                class="p-14"
                style="color: blue; margin-left: 10px"
                *ngIf="!load && counter==0"
                (click)="otp()"
                >Resend OTP</span
              ><span class="p-14 f-s" *ngIf="!load && counter>0"
                >Resend in {{counter}} second{{(counter>1?'s':'')}}</span
              >
            </p>
            <p
              (click)="otp_close()"
              class="p-14 ion-text-center"
              style="color: blue; margin-top: 20px"
            >
              Close
            </p>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-spinner name="circles" *ngIf="load"></ion-spinner>
    <p *ngIf="load">Submitting, please wait...</p>
  </div>
</ion-content>
