<ion-content class="ion-no-padding">
	<ion-slides [options]="slideOpts">
		<ion-slide>
			<ion-img class="photo-fullscreen" src="assets/launch_screen/1.jpg"></ion-img>
		</ion-slide>
        <ion-slide>
			<ion-img class="photo-fullscreen" src="assets/launch_screen/2.jpg"></ion-img>
        </ion-slide>
        <ion-slide>
			<ion-img class="photo-fullscreen" src="assets/launch_screen/3.jpg"></ion-img>
			<ion-button (click)="register()" color="dark">REGISTER NOW</ion-button>
        </ion-slide>
	</ion-slides>
</ion-content>
