.image-center{
   margin: auto;
}

ion-avatar{
	width:30%;
	height:30%;
}

.otp{
	font-size:1rem;
}

ion-item {
  --padding-end: 0px;
  --inner-padding-end: 0px;
  // here other custom CSS from documentation
}