<ion-header>
  <ion-toolbar>
    <ion-title>Change Password</ion-title>
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-back-button text="" icon="arrow-back"></ion-back-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form
    [formGroup]="form"
    class="ion-padding-bottom ion-padding-top"
    *ngIf="!load"
  >
    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label position="floating">New Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.password">
            <ng-container
              *ngIf="password.hasError(error.type) && (password.dirty || password.touched)"
            >
              <small class="error-message">
                <ion-icon name="alert-circle-outline"></ion-icon>
                <span>{{error.message}}</span>
              </small>
            </ng-container>
          </div>
          <ion-item>
            <ion-label position="floating">Re-enter Password</ion-label>
            <ion-input type="password" formControlName="repassword"></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.repassword">
            <ng-container
              *ngIf="repassword.hasError(error.type) && (repassword.dirty || repassword.touched)"
            >
              <small class="error-message">
                <ion-icon name="alert-circle-outline"></ion-icon>
                <span>{{error.message}}</span>
              </small>
            </ng-container>
          </div>
          <div *ngIf="form.hasError('passwordNotMatch')">
            <small class="error-message">
              <ion-icon name="alert-circle-outline"></ion-icon>
              <span>Passwords do not match</span>
            </small>
          </div>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </form>
  <div class="ion-text-center" *ngIf="!load">
    <ion-button
      *ngIf="!load"
      color="gold"
      expand="block"
      (click)="save()"
      [disabled]="!form.valid"
      >Save Changes</ion-button
    >
  </div>
  <div id="container" *ngIf="load">
    <ion-spinner name="circles"></ion-spinner>
    <p *ngIf="load">Saving, please wait...</p>
  </div>
</ion-content>
