p {
    margin: 0;
}

.p-16 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #5F5F5F;
}

form{
	ion-input{
		border: solid 1px rgba(0, 0, 0, 0.15);
		margin-top: 10px;
	}
	
	ion-item{
		ion-input{
			border: none;
			margin-top: 0px;
		}
	}
}

.otp{
	font-size:1rem;
}

ion-item {
  --padding-end: 0px;
  --inner-padding-end: 0px;
  // here other custom CSS from documentation
}

.rounded{
	border: solid 1px rgba(0, 0, 0, 0.15);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}