<ion-header class="ion-no-border" *ngIf="view=='forget'">
  <ion-toolbar>
    <ion-buttons>
      <ion-button color="primary">
        <ion-back-button text="" icon="arrow-back"></ion-back-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center ion-padding" *ngIf="!load && view=='forget'">
    <img src="assets/svg/ed-Logo.jpg" class="logo" />
    <br /><br />
    <ion-label class="title-20">Password Recovery</ion-label>
    <p class="p-16">Enter the phone you're using for your account.</p>
    <br />
  </div>
  <form
    class="ion-padding-bottom ion-padding-top"
    [formGroup]="form"
    *ngIf="!load && view=='forget'"
  >
    <ion-label position="stacked">Phone Number</ion-label>
    <ion-item class="ion-no-padding" class="rounded" lines="none">
      <ion-input type="text" formControlName="mobile" maxlength="8"></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.mobile">
      <ng-container
        *ngIf="mobile.hasError(error.type) && (mobile.dirty || mobile.touched)"
      >
        <small class="error-message">
          <ion-icon name="alert-circle-outline"></ion-icon>
          <span>{{error.message}}</span>
        </small>
      </ng-container>
    </div>
  </form>
  <div class="ion-text-center ion-padding-top" *ngIf="!load && view=='forget'">
    <ion-button
      *ngIf="!load"
      color="gold"
      expand="block"
      (click)="otp()"
      [disabled]="!form.valid"
      >Submit</ion-button
    >
    <br />
    <ion-label color="gold" routerLink="/login" routerDirection="back"
      >Back to login</ion-label
    >
  </div>
  <form
    [formGroup]="passwordForm"
    class="ion-padding-bottom ion-padding-top"
    *ngIf="!load && view=='password'"
  >
    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label position="floating">New Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.password">
            <ng-container
              *ngIf="password.hasError(error.type) && (password.dirty || password.touched)"
            >
              <small class="error-message">
                <ion-icon name="alert-circle-outline"></ion-icon>
                <span>{{error.message}}</span>
              </small>
            </ng-container>
          </div>
          <ion-item>
            <ion-label position="floating">Re-enter Password</ion-label>
            <ion-input type="password" formControlName="repassword"></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.repassword">
            <ng-container
              *ngIf="repassword.hasError(error.type) && (repassword.dirty || repassword.touched)"
            >
              <small class="error-message">
                <ion-icon name="alert-circle-outline"></ion-icon>
                <span>{{error.message}}</span>
              </small>
            </ng-container>
          </div>
          <div *ngIf="form.hasError('passwordNotMatch')">
            <small class="error-message">
              <ion-icon name="alert-circle-outline"></ion-icon>
              <span>Passwords do not match</span>
            </small>
          </div>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </form>
  <div
    class="ion-text-center ion-padding-top"
    *ngIf="!load && view=='password'"
  >
    <ion-button
      *ngIf="!load"
      color="gold"
      expand="block"
      (click)="reset()"
      [disabled]="!passwordForm.valid"
      >Submit</ion-button
    >
    <br />
    <ion-label color="gold" routerLink="/login" routerDirection="back"
      >Back to login</ion-label
    >
  </div>
  <div id="container" *ngIf="load || view=='otp'">
    <ion-card *ngIf="!load && view=='otp'">
      <ion-card-content>
        <ion-row>
          <ion-col size="12">
            <p class="p-14 ion-text-center">
              Please enter one time verification code sent to {{mobile.value}}
            </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2">
            <ion-item class="ion-no-padding">
              <ion-input
                type="number"
                (ionChange)="otp_verify()"
                [(ngModel)]="otpv1"
                #otp1
                maxLength="1"
                (keyup)="otpController($event,'otp2','')"
                (keypress)="numberOnlyValidation($event)"
                class="otp ion-text-center"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="2">
            <ion-item class="ion-no-padding">
              <ion-input
                type="number"
                (ionChange)="otp_verify()"
                [(ngModel)]="otpv2"
                #otp2
                maxLength="1"
                (keyup)="otpController($event,'otp3','otp1')"
                (keypress)="numberOnlyValidation($event)"
                class="otp ion-text-center"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="2">
            <ion-item class="ion-no-padding">
              <ion-input
                type="number"
                (ionChange)="otp_verify()"
                [(ngModel)]="otpv3"
                #otp3
                maxLength="1"
                (keyup)="otpController($event,'otp4','otp2')"
                (keypress)="numberOnlyValidation($event)"
                class="otp ion-text-center"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="2">
            <ion-item class="ion-no-padding">
              <ion-input
                type="number"
                (ionChange)="otp_verify()"
                [(ngModel)]="otpv4"
                #otp4
                maxLength="1"
                (keyup)="otpController($event,'otp5','otp3')"
                (keypress)="numberOnlyValidation($event)"
                class="otp ion-text-center"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="2">
            <ion-item class="ion-no-padding">
              <ion-input
                type="number"
                (ionChange)="otp_verify()"
                [(ngModel)]="otpv5"
                #otp5
                maxLength="1"
                (keyup)="otpController($event,'otp6','otp4')"
                (keypress)="numberOnlyValidation($event)"
                class="otp ion-text-center"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="2">
            <ion-item class="ion-no-padding">
              <ion-input
                type="number"
                (ionChange)="otp_verify()"
                [(ngModel)]="otpv6"
                #otp6
                maxLength="1"
                (keyup)="otpController($event,'','otp5')"
                (keypress)="numberOnlyValidation($event)"
                class="otp ion-text-center"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <p
              class="p-14 error-message ion-text-center"
              *ngIf="otpVerifyFail"
              style="margin-bottom: 15px"
            >
              <ion-icon name="alert-circle-outline"></ion-icon>
              <span
                >The OTP you've entered is incorrect. Please try again.</span
              >
            </p>
            <p class="p-14 ion-text-center">
              Didn't get OTP?
              <span
                class="p-14"
                style="color: blue; margin-left: 10px"
                *ngIf="!load && counter==0"
                (click)="otp()"
                >Resend OTP</span
              ><span class="p-14 f-s" *ngIf="!load && counter>0"
                >Resend in {{counter}} second{{(counter>1?'s':'')}}</span
              >
            </p>
            <p
              (click)="otp_close()"
              class="p-14 ion-text-center"
              style="color: blue; margin-top: 20px"
            >
              Close
            </p>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-spinner name="circles" *ngIf="load"></ion-spinner>
    <p *ngIf="load">Submitting, please wait...</p>
  </div>
</ion-content>
